.img-container {
    width: 25rem;
    height: 25rem;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}

.carousel-caption {
    width: 25rem;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent); */
    bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    left: auto;
    right: auto;
    background-image: linear-gradient(180deg,
                hsla(0, 0%, 35.29%, 0) 0%,
                hsla(0, 0%, 34.53%, 0.034375) 16.36%,
                hsla(0, 0%, 32.42%, 0.125) 33.34%,
                hsla(0, 0%, 29.18%, 0.253125) 50.1%,
                hsla(0, 0%, 24.96%, 0.4) 65.75%,
                hsla(0, 0%, 19.85%, 0.546875) 79.43%,
                hsla(0, 0%, 13.95%, 0.675) 90.28%,
                hsla(0, 0%, 7.32%, 0.765625) 97.43%,
                hsla(0, 0%, 0%, 0.8) 100%);
}

.carousel-indicators {
    /* top:  */
    margin-bottom: 0.5rem;
}

.carousel-control-prev {
    visibility: hidden;
}

.carousel-control-next {
    visibility: hidden;
}
